<!doctype html>
<html ng-app="contactApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List O-Rama</title>
</head>
<body>
<contact-list></contact-list>
</body>
</html>
